container_commands:
  01_migrate:
    command: "touch /tmp/migrate"
    leader_only: true
  02_collectstatic:
    command: "touch /tmp/collectstatic"
#    leader_only: true
# S3를 static 저장소로 사용하지 않고 모든 EC2에 정적파일이 존재할 수 있도록 leader_only 옶션 해제
  03_createsu:
    command: "touch /tmp/createsu"
    leader_only: true


#  02_collectstatic:
#    command: "sudo docker exec `sudo docker ps -q` /srv/project/app/manage.py collectstatic --noinput"
#    leader_only: true
#  03_creatsu:
#    command: "sudo docker exec `sudo docker ps -q` /srv/project/app/manage.py createsu"
#    leader_only: true