div#contents {
  position: relative;
  display: block;
  height: 720px;
  width: 100%;
}

div#contents div.content {
  width: 760px;
  height: 560px;
  border-radius: 15px;
  margin: auto;
  margin-top: 70px;
  background: url(/static/index/summer.jpeg) no-repeat center top;
}

div#contents div.content div.content-wrapper {
  text-align: center;
}

div#contents div.content div.content-wrapper img.logo {
  margin-top: 44px;
}

div#contents div.content div.content-wrapper span {
  color: white;
  font-size: 16px;
  line-height: 24px;
  display: block;
}

div#contents div.content div.content-wrapper span a {
  color: red;
}

div#contents div.content div.content-wrapper button {
  width: 220px;
  color: #fff;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px;
  border-radius: 12px;
  cursor: pointer;
}

div#contents div.content div.content-wrapper button.facebook-btn {
  background-color: #4969F0;
  border: 1px solid #4969F0;
}

div#contents div.content div.content-wrapper button.email-btn {
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #fff;
}

div#contents::after {
  content: "";
  background: url(/static/index/posters.jpg);
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
